body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --width: 0;
  --width2: 0;
}

.whole{
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 10%;
  left: 10%;
}

.choose__button{
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  border: none;
  outline: 0;
  background-color: rgb(230, 245, 253);
  color: grey;
  cursor: pointer;


}

.choose__button:hover{
  background-color: rgb(210, 245, 253);
}

.file__input{
  display: none;
}

.uploadProgress{
  margin-top: 20px;

  position: relative;
  background-color: white;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
  width: 350px;
  height: 80px;
  border-radius: 20px;
  overflow: hidden;
}

.mainBox {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: var(--width);
  transition: width 1s cubic-bezier(0.82, -0.02, 0.4, 1.18);
  height: 100%;
  background-color: rgb(230, 245, 253);
}

.mainBox__top{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 350px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
}

.mainBox__left {
  position: relative;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mainBox__title{
  font-size: 14px;
  color: grey;
  font-weight: 500;
}

.mainBox__info{
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  color: grey;
}

.mainBox__right{
  position: relative;
  right: 30px;
  display: flex;
}

.maximize{
  color: gray;
}

.minimize {
  color: gray;
  
}


.mainBox__bottom{
  position: relative;
  height: 1px;
  width: 350px;
  background-color: rgb(199, 195, 195);
}

.upload__bar{
  position: absolute;
  background-color: lightblue;
  height: 1px;
  width: var(--width);
}

.listItems{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 350px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);


}

.listItem{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: gray;
  border-radius: 25px;
  align-items: center;

}

.listItem__wrapper {
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px 10px;
  width: 260px;
}
.listItem__left{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 40px;
}

.listItem__left__bottom{
  position: relative;
  margin-top: 10px;
  height: 2px;
  width: 150px;
  background-color: rgb(199, 195, 195);

}

.upload__bar_item{
  background-color: lightblue;
  position: absolute;
  width: var(--width2);
  height: 2px;
}

.listItem__right{
  right: 40px;
  position: absolute;
}